<html>
  <head> </head>
  <body>
    <h1>
      Welcome to <%=title%>
    </h1>
    <ul>
      <%for(let i = 0; i < titleList.length; i++){%>
      <li><%=titleList[i]%></li>
      <%}%>
    </ul>
  </body>
</html>
