html
    head
        title My App
    body(class=['my-app'])
        h1(id='myId') A library
            p
                h3 sub header
            ul
                each val in titleList
                    li=val